table {
    margin: auto;
    border-collapse: collapse;
}

.head {
    color: blue;
    font-size: 25px;
}

th, td {
    padding: 10px;
    border: 1px solid black;
}

.sinhvien1, .sinhvien2, .sinhvien3 {
    background-color: lightpink;
    font-size: 14px;
}

.sinhvien1:hover {
    background-color: red;
}

.sinhvien2:hover {
    background-color: yellow;
}

.sinhvien3:hover {
    background-color: gray;
}
