* {
    box-sizing: border-box;
}

.contenter {
    display: flex;
    width: 780px;
    height: 500px;
    gap: 6px;
    margin: 20px auto;
}

.div1,
.div2 {
    width: 50%;
}

.hop1,
.hop2,
.hop3,
.hop4,
.hop5 {
    width: 100%;
    margin-bottom: 6px;
}

.hop1, .hop2 {
    height: 250px;
}

.hop5 {
    height: 100px;
}

.hop3, .hop4 {
    height: 303px;
}

.hop1 img,
.hop2 img,
.hop3 img,
.hop4 img,
.hop5 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}