body {
    margin: 0;
    background-color: lightpink;
    color: black;
    font-family: Verdana;
}

nav {
    height: 70px;
    background-color: lightcoral;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 60px;
}

nav h2 {
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 16px;
}

nav a:hover {
    color: yellow;
}

.content {
    padding: 50px;
}

.content h2 {
    color: darkred;
}